<div class="container bootstrap snippets bootdey" *ngFor ="let data of user.personal">
    <div class="row">
      <div class="profile-nav col-md-3">
          <div class="panel" style="margin-bottom: 1.4rem;">
              <div class="user-heading round">
                  <a>
                      <img src="{{url}}{{data.image}}" alt="">
                  </a>
                  <h1>{{user.name}}</h1>
                  <p>{{user.email}}</p>
              </div>

              <ul class="nav nav-pills nav-stacked" style="flex-direction: column;">
                  <li class="active"><a  style="text-decoration: none;"> <i class="fa fa-user"></i> Profile</a></li>
                  <li><a style="text-decoration: none; " routerLink="/personal/details-edit/{{data._id}}"> <i class="fa fa-edit"></i> Edit profile</a></li>
              </ul>
          </div>
          <p>{{data.profile}}</p>
      </div>
      <div class="profile-info col-md-9">
          <div class="panel">
              <div class="panel-body bio-graph-info">
                  <h1>Personal Details</h1>
                  <div class="row" >
                      <div class="bio-row" >
                          <p><span> Name </span>: {{user.name}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Social </span>: {{data.linkdin}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Country </span>: {{data.country}}</p>
                      </div>
                      <div class="bio-row">
                        <p><span>Address </span>: {{data.address}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Post-Code </span>: {{data.postCode}}</p>
                    </div>
                      <div class="bio-row">
                          <p><span>Birthday</span>: {{data.birthDate}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Occupation </span>: {{data.work}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Email </span>: {{user.email}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Mobile </span>: {{user.mobile}}</p>
                      </div>
                      <div class="bio-row">
                          <p><span>Github </span>: {{data.github}} </p>
                      </div>
                  </div>
              </div>
          </div>
         
      </div>
    </div>
    </div>