<div *ngIf="alert" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
    <strong>Updated !</strong>  user has been updated succefully 
    <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<div class="container mt-4">
    <form [formGroup]="form" (ngSubmit)="onUpdate()">
        <div class="mb-3">
            <label for="name" class="form-label">User Name</label>
            <input formControlName="name" type="text" class="form-control"   placeholder="username"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <small *ngIf="f.name.errors.required">this field required</small>
            </div>
          </div>
          <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
           <input formControlName="email" type="text" class="form-control"   placeholder="email"
           [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
           <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <small *ngIf="f.email.errors.required">this field required</small>
          </div>
          </div>
          <div class="mb-3">
              <label for="mobile" class="form-label">Phone</label>
              <input formControlName="mobile" type="text" class="form-control" placeholder="mobile"
              [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" >
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                  <small *ngIf="f.mobile.errors.required">this field required</small>
              </div>
              </div>
          <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>